body {
    background-color: aliceblue;
}
.pred-box {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pred-form {
    border: 2px solid;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 6px;
    width: 380px;
    height: 550px;
    margin: 0 auto;
    font-size: 22px;
    line-height: 2;
}
label {
    margin-right: 10px;
    width: 150px;
}
input {
    flex: 1;
    width: 200px;
    height: 20px;
    border: none;
    border-bottom: 1px solid black;
    background-color: aliceblue;
    font-size: 20px;
    margin-left: 0;
}
select {
    border: none;
    border-bottom: 1px solid black;
    font-size: 18px;
    background-color: aliceblue;
}
option {
    height: 20px;
    font-size: 20px;
}
.btn {
    margin-top: 20px;
    width: 80px;
    height: 30px;
    background-color: green;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-left: 100px;
}
.btn-re {
    margin-top: -30px;
    width: 80px;
    height: 30px;
    background-color: gray;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-left: 190px;
}
.navbar {
    background-color: navy;
    width: auto;
    height: 70px;
    display: flex;
    align-items: center;
}
.navbar-brand {
    text-decoration: none;
    font-size: 35px;
    color: white;
}
h1, p {
    text-align: center;
}
.head {
    color: white;
    background-color: navy;
    top: -10px;
    margin-left: 0;
    font-size: 24px;
    text-align: center;
    padding: 5px 0;
    left: -10px;
    position: relative;
    width: calc(100% + 20px);
    box-sizing: border-box;
    border-radius: 6px 6px 0 0;
}
.res,.error {
    position: relative;
    margin-top: 20px;
    font-size: 20px;
    color: darkblue;
    text-align: center;
}